<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Mi Portafolio</title>

    <link rel="stylesheet" th:href="@{estilos.css}">

</head>

<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Cerrar Sesión" />
</form>

<h1 th:text="${titulo}">¡Hola Mundo!</h1>
<p>Bienvenido a mi portafolio con Spring Boot.</p>

<h2>Mis Proyectos</h2>

<div th:each="un_proyecto : ${proyectos}" class="proyecto">
    <h3 th:text="${un_proyecto.titulo}">Nombre del Proyecto (Placeholder)</h3>
    <p th:text="${un_proyecto.descripcion}">Descripción del proyecto (Placeholder)</p>
</div>
</body>
</html>