<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Mi Portafolio</title>
</head>
<body>
    <h1 th:text="${titulo}">¡Hola Mundo!</h1>
    <p>Bienvenido a mi portafolio con Spring Boot.</p>

    <h2>Mis Proyectos</h2>

    <div th:each="un_proyecto : ${proyectos}">
        <h3 th:text="${un_proyecto.titulo}">Nombre del titulo (placeholder)</h3>
        <p th:text="${un_proyecto.descripcion}">Descripción del Proyecto (placeholder)</p>
        <hr> </div>
</body>
</html>